*{
    margin: 0;
    padding: 0;
}
h1, h2, h3, p, a, li{
    font-family: sans-serif;
    font-weight: normal;
    text-align: center;
    padding: 10px 0px 10px 0px;
}
header{
    font-weight: bold;
    margin-bottom: 20px;
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid black;
}
footer{
    margin-top: 20px;
    padding: 10px 0px 10px 0px;
    border-top: 1px solid black;
}
.center{
    text-align: center;
    max-width: 700px;
    margin: 0px auto;
}
.block{
    width: 500px;
    margin: 0px auto;
    display: block;
}
.space{
    margin: 20px 20px 30px 40px;
}
.container-small{
    width: 360px;
    margin: 0px auto 40px auto;
    text-align: left;
}
.text-bold{
    font-weight: bold;
}
.text-large{
    font-size: 38px;
    font-weight: bold;
    text-transform: uppercase;
}
.text-medium{
    font-weight: bold;
    font-size: 24px;
}
li {
    text-align: left;
}
.underline{
    text-decoration: underline;
}